<div class="field-list">
	{{> (template "fields/select") label="DeckProgClass" edit="data.programClasses" choices=programClasses}}
    {{> (template "fields/number") label="DeckProgStrength" edit="data.deckProgStrength"}}
    {{> (template "fields/number") label="DeckProgMU" edit="data.deckProgMU"}}	
</div>