<div class="field">
    <label for="{{edit}}">{{CPLocal label}}</label>
    <input name="{{edit}}" type="number" value="{{deepLookup . edit}}"
        {{~#if moreRoom}}class="more-room"{{/if}}/>
</div>